[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd frontend && npm install"]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "exec /app/frontend/node_modules/.bin/serve /app/frontend/dist --single --listen $PORT"